# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
 
* @aiconnai
 
/.github/ @aiconnai
/docs/ @aiconnai
/src/ @aiconnai
/vscode/ @aiconnai
/.github/workflows/ @aiconnai
